Cau6.txt
[
    {
        "id": "33a12b46.223c54",
        "type": "tab",
        "label": "Olympic Câu 6",
        "disabled": false,
        "info": ""
    },
    {
        "id": "493d2533.4b5f6c",
        "type": "inject",
        "z": "33a12b46.223c54",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "3",
        "crontab": "",
        "once": false,
        "x": 283.00001525878906,
        "y": 158.00000762939453,
        "wires": [
            [
                "f84b93f.ca5517"
            ]
        ]
    },
    {
        "id": "f84b93f.ca5517",
        "type": "function",
        "z": "33a12b46.223c54",
        "name": "",
        "func": "\nvar tds = Math.floor((Math.random() *1121) + 280);\nmsg.payload ={\"tds\":tds};\n\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "x": 487.00001525878906,
        "y": 165.00000762939453,
        "wires": [
            [
                "1cdb8b88.bb4674"
            ]
        ]
    },
    {
        "id": "1cdb8b88.bb4674",
        "type": "json",
        "z": "33a12b46.223c54",
        "name": "",
        "pretty": false,
        "x": 684.0000152587891,
        "y": 144.00000762939453,
        "wires": [
            [
                "d4d11a72.c2d3e8",
                "8928e079.9f60b"
            ]
        ]
    },
    {
        "id": "d4d11a72.c2d3e8",
        "type": "mqtt out",
        "z": "33a12b46.223c54",
        "name": "",
        "topic": "OLPC-03/Sensor02",
        "qos": "",
        "retain": "",
        "broker": "731f2b8f.b5dd54",
        "x": 837.0000152587891,
        "y": 253.00000762939453,
        "wires": []
    },
    {
        "id": "2ab93ef2.b12432",
        "type": "mqtt in",
        "z": "33a12b46.223c54",
        "name": "",
        "topic": "OLPC-03/Sensor02",
        "qos": "2",
        "broker": "731f2b8f.b5dd54",
        "x": 445.00001525878906,
        "y": 290.00000762939453,
        "wires": [
            [
                "c3e155ed.ee0b98"
            ]
        ]
    },
    {
        "id": "c5692adb.4cd868",
        "type": "ui_chart",
        "z": "33a12b46.223c54",
        "name": "",
        "group": "2e0f2a20.695366",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 838.0000152587891,
        "y": 393.00000762939453,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "95f6adf9.900e3",
        "type": "function",
        "z": "33a12b46.223c54",
        "name": "",
        "func": "var msg1={};\n\nmsg1.payload=+msg.payload.tds;\n\nmsg1.topic='TDS';\n\nreturn msg1;",
        "outputs": "1",
        "noerr": 0,
        "x": 697.0000152587891,
        "y": 351.00000762939453,
        "wires": [
            [
                "c5692adb.4cd868"
            ]
        ]
    },
    {
        "id": "c3e155ed.ee0b98",
        "type": "json",
        "z": "33a12b46.223c54",
        "name": "",
        "pretty": true,
        "x": 566.0000152587891,
        "y": 385.00000762939453,
        "wires": [
            [
                "95f6adf9.900e3"
            ]
        ]
    },
    {
        "id": "8928e079.9f60b",
        "type": "debug",
        "z": "33a12b46.223c54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1007.1667747497559,
        "y": 112.00000381469727,
        "wires": []
    },
    {
        "id": "731f2b8f.b5dd54",
        "type": "mqtt-broker",
        "z": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "QuocQuan",
        "usetls": false,
        "compatmode": true,
        "keepalive": "6000",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2e0f2a20.695366",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "1aca20c5.72885f",
        "disp": true,
        "width": "6"
    },
    {
        "id": "1aca20c5.72885f",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]